<!DOCTYPE html>
<html lang="en">
<head>
	<title>SentAPI</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			    <form action='/clas' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>Enter the text</b></label>
            <br>
          <input placeholder="For eg: മോശം സിനിമ " name="Temperature" id="te" type="text" class="validate">
        </div>

      <div class="row center">

          <button type="submit" >Classify Text</button>
      </div>
    </form>
      </div>

      <br>
       <h3> {{pred}}</h3><br>

    </div>
  </div>

			<div class="contact100-more flex-col-c-m" style="background-image: url('images/bg-01.jpg');">
				<div class="flex-w size1 p-b-47">
					
					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							<h1>SentAPI</h1>
						</span>

						<span class="txt2">
							Sentiment Anlaysis Tool For Malayalam Language
						</span>
					</div>
				</div>
				

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							teamsentapi@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
